*[class^="icon-"], *[class*=" icon-"]::before {
    background-size: contain;
    content: "";
    display: inline-block;
    clear: both;
    height: 2rem;
    width: 2rem;
    margin-left: 16px;
    margin-right: 16px;
    vertical-align: -50%;
}
.icon-book::before {    
    background-image: url('./img/icons/book.png');
}
.icon-home::before {    
    background-image: url('./img/icons/home.png');
}
.icon-location::before {    
    background-image: url('./img/icons/location.png');
}
.icon-people::before {    
    background-image: url('./img/icons/people.png');
}
.icon-program::before {    
    background-image: url('./img/icons/program.png');
}
.icon-regis::before {    
    background-image: url('./img/icons/regis.png');
}
.icon-speaker::before {    
    background-image: url('./img/icons/speaker.png');
}

div.jumbotron-base {
    height: 200px;
    background: url(./img/hk01.jpg);
    background-position: center;
    background-size: cover;
} 
div.jumbotron-index{
    background: url(./img/HK.fw.png);
} 
div.jumbotron-index hr{
    border-top:3px solid #CCCCCC
}

* {
    font-family: helvetica;
    font-size: 16px;
}