body{
    margin: 0px;
} 

hr{
background-color:black;
border: 0px;
opacity: 0.2;
height:2px;
}
.hr_type_2{
    background-color: black;
    height:0.5px;
    width: 750px;
}
a:hover{
    text-decoration: none;
    background-color: none;
    color:purple;
}
a:link{
    color: purple;
}
a.visited{
    color:purple;
}
/* .header{
    position: relative;
    width: 100%;
    height: 78px;
    background-color: #3b2b75;
    border: 0px solid black;
    padding-top: 3px;
} */

.subheader{
    /* position:relative; */
    position: absolute;
    margin: 0px 0px;
    width: 100%;
    height: 150px;
    background-color:transparent;
    border: 0px solid black; 
    padding-left:50% ;
    padding-top: 10px;
}

.content_1{
    margin: 0px 0px;
    width: 100%;
    height:1500px;
    background-color: rgb(234, 241, 241);
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 50px;
    padding-top: 50px;
    border:0px solid gray;
}

/* .content_2{
    margin: 0px;
    width: 95%;
    height: 300px;
    background-color: rgb(234, 241, 241);
    padding-left: 15%;
    border: 1px solid gray;
}
.content_3{
    margin: 0px 0px;
    width: 95%;
    height: 300px;
    background-color: rgb(234, 241, 241);
    padding-left: 15%;
    border: 1px solid gray;
}
.content_4{
    margin: 1px 10px;
    width: 95%;
    height: 300px;
    background-color: rgb(234, 241, 241);
    padding-left: 15%;
    border: 1px solid gray;
} */
/* 
.footer{
    margin:0px 10px;
    width: 98%;
    height: 60px;
    background-color: #3b2b75;
    padding-left: 30%;
    border: 0px solid  black;
} */

/* header css */
.title{
    /* display: inline; */  
    color:rgb(240, 236, 236);
    margin: 3px 3px 1px;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title_2{
    /* display: inline; */
    color:rgb(240, 236, 236);
    margin: 1px 20px 1px;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* sub header cc */
.subheader0{
    height: 50px;
    border:0px solid #000; 
    background-color:#f40;
    border-left-color: rgb(104, 120, 211);
    border-left-width: 5px;
}
.header_ul{
    list-style: none;
    margin: 0;
    padding-left: 10px;
}
.header_li{
      margin: 8px 10px 0px;
      float: left;
      color:cadetblue;
      font-weight: bold;
      font-size: 20px;
      color: rgb(3, 3, 3);
      height: 35px;
      line-height: 30px;
      padding: 0 5px;
}
   .header_li:hover{
      text-decoration: underline;
      border-radius: 15px;
      /* background-color: rgb(121, 90, 233); */
      color:#fff;
      cursor: pointer;
  }
  /* .pic_01{
    margin: 0px;
    width: 100%;
    height: 150px;
  } */
  .logo{
    height:80;
    width: 200;
    position: absolute;
    top:10px;
    right: 20px;

  }

  /* Here to change header_logo */
  p.logo::before{
    content: "Date: 1st-Aug-2019";
    font-size: 25px;
    color: #fff;
    display: inline-block;
    /* background-image: url(/img/PSHK_logo.png); */
    background-position: right;
    top:20px;
    width: 250px;
    height: 60px;
    background-size: 200px 60px;

  }
 
  /* This following is content part */
.text_1{
    position: absolute;
    margin: 15px 0px 40px 3%;
    width:60%;
    height: 1300px;
    background-color: #fff;
    padding: 60px 40px 40px 40px;
}

.text_a{
    margin: 15px 0px 0px 70%;
    width: 20%;
    height: 300px;
    background-color: #fff;
    padding: 10px 20px 20px 20px;
    
}
/* Font */

.title_font{
    font-size: 30px;
    font-family: helvetica;
    padding-left: 10px;
    height: 50px;
}

/* subtitile font */
.subtitle_font{
    /* display: inline-block; */
    padding-top: 20px;
    font-size: 22px;
    font-family: helvetica;
    padding-left: 15px;
    line-height: 30px;
    margin-top:0px;
    margin-bottom: 0px; 
}

.title_font_2{

    padding-top: 20px;
    font-size: 25px;
    font-family: helvetica;
    padding-left: 15px;
    margin-top:0px;
    margin-bottom: 0px; 
}

.title_font_3{

    padding-top: 20px;
    font-size: 25px;
    font-family: helvetica;
    padding-left: 15px;
    margin-top:0px;
    margin-bottom: 0px; 
}



.organizers_1{
    font-size: 20px;
    font-family: helvetica;
    padding-left: 10px;
    height: 30px;
}

.text_font_1{
    font-size: 18px;
    font-family:helvetica;
    padding-left: 30px;
    height: 30px;

}
.text_font_2{
    font-size: 20px;
    font-family: helvetica;
    padding-left: 30px;
    height: 30px;
}
/* normal text_font */
.text_font_3{
    font-size: 20px;
    font-family: helvetica;
    padding-left: 30px;
    padding-right: 30px;
    /* text-indent: 2em; */
    display: inline-block;
    height: 190px;
}


.font_info{
    
    font-size: 16px;
    font-family: helvetica ;
    padding-left: 10px;
    height: 30px;
}

.link_font{
    display: inline-block;
    padding-left:18px;
    color:purple;
    font-size: 18px;
}

.venue_pic_1{
    width: 650px;
    padding-left: 40px;
    padding-top: 40px;
    height: 300px;
}
.venue_pic_2{
    width: 650px;
    padding-left: 40px;
    padding-top: 40px;
    height: 600px;
}
.venue_pic_3{
    width: 650px;
    padding-left: 40px;
    padding-top: 20px;
    height: 400px;
}
.hotel_01{
    display: inline-block;
    width: 700px;
    padding-left: 40px;
    padding-top: 20px;
    height: 200px;
}
.host_logo{
    width: 180px;
    padding-left: 70px;
    padding-top: 10px;
    height: 80px;
}

.CUHK_logo{
    width: 186px;
    padding-left: 75px;
    padding-top: 25px;
    height: 90px;
}
.HKBU_logo{
    width: 210px;
    padding-left: 77px;
    padding-top: 25px;
    height: 70px;
}
.HKPU_logo{
    width: 250px;
    padding-left: 67px;
    padding-top: 25px;
    height: 70px;
}
.HKCU_logo{
    width: 125px;
    padding-left: 105px;
    padding-top: 7px;
    height: 100px;
}
.HKST_logo{
    width: 240px;
    padding-left:73px;
    padding-top: 25px;
    height: 70px;
}
.HKU_logo{
    width: 225px;
    padding-left: 56px;
    padding-top: 25px;
    height: 95px;
}

/* This is text_ul */
.text_ul{
    list-style: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 20px;
}

.text_li{
    font-size: 20px;
    /* padding-left: 5px; */
    padding: 3px 5px;
}
.text_li:hover{
    background-color: rgb(243, 240, 240);
}
/* a.venue::before{
    background-image: url('/img/place.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 25px;
    padding-right: 10px;
    width: 25px;
    clear:both;
} */

a.history::before{
    background-image: url('/img/book.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 30px;
    padding-right: 10px;
    padding-right: 10px;
    width: 30px;
    clear:both;
}

a.venue::before{
    background-image: url('/img/location.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 30px;
    padding-right: 10px;
    padding-right: 10px;
    width: 30px;
    clear:both;
}

a.home::before{
    background-image: url('/img/home.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 30px;
    padding-right: 10px;
    padding-right: 10px;
    width: 30px;
    clear:both;
}
a.people::before{
    background-image: url('/img/people.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 30px;
    padding-right: 10px;
    padding-right: 10px;
    width: 30px;
    clear:both;
}
a.regis::before{
    background-image: url('/img/regis.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 30px;
    padding-right: 10px;
    padding-right: 10px;
    width: 20px;
    clear:both;
}
a.program::before{
    background-image: url('/img/program.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 25px;
    padding-right: 10px;
    padding-right: 10px;
    width: 20px;
    clear:both;
}
a.speaker::before{
    background-image: url('/img/speaker.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 25px;
    padding-right: 10px;
    padding-right: 10px;
    width: 20px;
    clear:both;
}
#poster::before{
    background-image: url('/img/poster.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 25px;
    padding-right: 10px;
    padding-right: 10px;
    width: 20px;
    clear:both;
}
#link::before{
    background-image: url('/img/links.png');
    content: "";
    display: inline-block;
    background-size: 100%;
    height: 25px;
    padding-right: 10px;
    padding-right: 10px;
    width: 20px;
    clear:both;
}
.dropdown01{
    width: 100px;
    height: 110px;
    background-color: purple;
    visibility: hidden;
    /* float: right; */   
}
#program:hover>.dropdown01{
    visibility: visible;
}
.header_content{
    height:60px;
    background-color: #7400b3;
    /* background-color: rgb(36, 34, 34); */
    background-size: 100% 100%;
    /* color:white; */
}
/* button */
.btn .case_1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn .case_1:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover .case_1 {
    padding-right: 25px;
  }
  
  .btn:hover .case_1:after {
    opacity: 1;
    right: 0;
  }
a.link_title:hover{
    color:yellow;
}
a.link_title_2:hover{
    color:yellow;
}
a.link_title_2{
    color:white;
}